{{ if not .Site.Params.disable_codefolding }}
  <script src="{{ "js/collapse.js" | relURL }}"></script>
  <script src="{{ "js/dropdown.js" | relURL }}"></script>
  <script src="{{ "js/transition.js" | relURL }}"></script>
  <script src="{{ "js/codefolding.js" | relURL }}"></script>

{{ end }}
<script async defer src="https://tools.luckyorange.com/core/lo.js?site-id=10579286"></script>

<!-- Ezoic Code -->
<script>var ezoicId = 473828; </script>
<script type="text/javascript" src="//go.ezoic.net/ezoic/ezoic.js"></script>
<!-- Ezoic Code -->